
         #cover 
         {
            position: relative;
            margin: 0 auto;	
         }
	@keyframes fadecf{0%{opacity:0};10%{opacity:1};100%{opacity:0;}}
        @keyframes fadetf{0%{opacity:0};55%{opacity:1};100%{opacity:0;}}
	 #cover img
         {
            position: absolute;
            left: 0;
            transition: opacity 10s linear;
         }
       
	  img.top 
            { animation:10s linear fadecf infinite;}
	
	  img.three
            { animation:10s linear fadetf infinite;}




button{
	color:red;
	border:solid black 1px;
	padding:10px;
	background-color:hotpink;
	}
a{ 
	text-decoration:none;
	color:blue;
	font-size: 15px;
	}
a:hover	{	
	background-color:yellow;
	font-size:20px;
}
button:hover{
	background-color:yellow;
	}
h1{
	color:blue;
	}
img.p1{
	-webkit-box-reflect:right 20px;}
img.p1:hover{
		style:none;width:0%;height:0%;}
img:hover{
	width:20%;
	height:20%;
	}
